# IDE & Editors
.idea/
.vscode/


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###


###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

.htaccess
/cache
/build
/public/uploads
/public/sitemap*

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
phpcs.xml.dist
###< squizlabs/php_codesniffer ###

###> test logs ###
deprecations.log
report.xml
###< test logs ###
